<ion-content [fullscreen]="true">
  <ion-col size="6" *ngIf="photoService.photo">
        <ion-img [src]="photoService.photo.webviewPath"></ion-img>
  </ion-col>  
  <div>
    <div *ngIf="photoService.photo" class="image-action-container image-action-container-cancel">
      <ion-fab-button class="remove-photo-button">
        <ion-icon (click)="removePhotoFromGallery()" name="close-outline"></ion-icon>
      </ion-fab-button>
      <div class="image-confirm-container">
        <ion-input placeholder="Entrez un titre"></ion-input>
        <ion-fab-button class="remove-photo-button">
          <ion-icon name="send-outline"></ion-icon>
        </ion-fab-button>
      </div>
    </div>
    <div *ngIf="!photoService.photo" class="image-action-container image-action-container-new">
      <ion-fab-button (click)="addPhotoToGallery()" class="take-photo-button" >
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </div>
  </div>
</ion-content>
