.post-container {
    .post-header{
        padding: 0px 5px;
        display:flex;
        height: 77px;
        .profile-picture-container {
            width: 77px;
            height: 77px;
            .profile-picture {
                border-radius: 50px;
            }
        }
        .post-info-container {
            
        }
    }
    .post-content {

    }
    .post-footer {

    }
}