<div class="post-container">
  <div class="post-header">
    <div class="profile-picture-container">
      <img src="/assets/img/user-image.png" class="profile-picture">
    </div>
    <div class="post-info-container">
      <div class="profile-name">Sylvain Bourbousse</div>
      <div class="image-name">Titre de l'image</div>      
    </div>
  </div>
  <div class="post-content">
    <img src="/assets/img/post-image.png">
  </div>
  <div class="post-footer">
    <div class="post-published-date">
      Il y a 12 minutes
    </div>
    <div class="post-likes-count">
      <div>100</div>
      <img src="/assets/icon/heart.svg">
    </div>
  </div>
</div>