<div class="post-container">
  <div class="post-header">
    <div class="profile-picture-container">
      <img src="/assets/img/user-image.png" class="profile-picture">
    </div>
    <div class="post-info-container">
      <div class="profile-name">Sylvain Bourbousse</div>
      <div class="image-name">{{ (post.title.length>6)? (post.title | slice:0:60)+'...':(post.title) }}</div>      
    </div>
  </div>
  <div class="post-content">
    <img [src]="post.url">
  </div>
  <div class="post-footer">
    <div class="post-published-date">
      {{dateParse(post.date)}}
    </div>
    <div class="post-likes-count">
      <div>{{post.favorite}}</div>
      <img src="/assets/icon/heart.svg">
    </div>
  </div>
</div>